src/test/resources/xmlSchema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="TravelerInformationResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="page" type="xs:integer"/>
                <xs:element name="perPage" type="xs:integer"/>
                <xs:element name="totalRecords" type="xs:integer"/>
                <xs:element name="totalPages" type="xs:integer"/>
                <xs:element name="travelers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TravelerInformation" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="id" type="xs:integer"/>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="email" type="xs:string"/>
                                        <xs:element name="address" type="xs:string"/>
                                        <xs:element name="createdAt" type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
